# Toronto Web Scraping

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Read Wikipedia Wikipedia Page with Pandas

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(wiki, header = 0)

### Grab the First Table in Wikipedia Page

In [3]:
toronto = table[0]

In [4]:
toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Filter Out Bourough Containg 'Not Assigned'

In [5]:
toronto = toronto[toronto['Borough'] != 'Not assigned']

### Aggreagte Neighbourhoods with Same Boroughs
Groups by each Borough then joins the Neighbourhoods with a comma

In [6]:
df = toronto.groupby('Postcode').agg(lambda t: ', '.join(set(t))).reset_index()

### Replace 'Not Assigned' Neighbourhoods With Borough

In [7]:
df['Neighbourhood'].replace('Not Assigned', df['Borough'], inplace = True)

In [8]:
### Get Number of Rows

In [9]:
df.shape[0]

103